repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements

  # ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        args: [--fix]

      - id: ruff-format

  # mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-setuptools]
        args: [--ignore-missing-imports]
        exclude: ^tests/

  # codespell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--config", "spelling/.codespellrc"]

  # mkdocs build check
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build (docs must compile)
        entry: mkdocs build --strict --quiet
        language: system
        pass_filenames: false
